html {
  color: white;
  font-family: "Quicksand", sans-serif;
}

h2 {
  padding-left: 20px;
}

#container {
  margin: 0 auto;
  width: 960px;
  background-color: #7c807d;
}

header {
  background-color: #555;
  text-align: center;
}

.logo {
  height: 100px;
  margin: 5px 0;
}

#bio {
  display: flex;
}

.profile {
  width: 195px;
  height: 195px;
  margin: 20px 0px 0px 20px;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#name-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}

#name-date time {
  font-size: 24px;
}

#dev-list {
  background-color: #81bf63;
  margin: 0px 20px;
}

#dev-list h3 {
  padding-left: 0px;
}

#tech {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: -30px;
}

#tech img {
  height: 200px;
  width: 200px;
}

#interest {
  padding-bottom: 10px;
}

figure {
  display: flex;
  flex-flow: column;
  margin: auto;
  max-width: 200px;
}

figcaption {
  background: rgba(3, 3, 3, 0.7);
  height: 40px;
  padding: 3px;
  text-align: center;
  position: relative;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react {
  background-color: #81bf63;
  margin: 0 20px;
  padding-bottom: 20px;
  padding-top: 5px;
}

.react p,
h3 {
  margin: 10px 20px;
}

footer {
  font-size: 18px;
  text-align: center;
  padding: 0px 0 10px 0;
}
